# Database configuration
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password
DB_DATABASE=your_db_name
DB_HOST=your_db_host
DB_PORT=your_db_port
DATABASE_URL=postgres://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}

# Cors configuration
CORS_PROTOCOL=http
CORS_HOST=localhost
CORS_PORT=3000
CORS_ORIGIN=${CORS_PROTOCOL}://${CORS_HOST}:${CORS_PORT}

# JWT configuration
ACCESS_TOKEN_SECRET=your_at_secret
REFRESH_TOKEN_SECRET=your_rt_secret
AT_EXPIRES_IN=15 # 15m number is in minutes
RT_EXPIRES_IN=1440 # 7m number is in minutes
